body{
    font-family: 'droid_sansregular', Arial, sans-serif;
    margin:0;
    padding:0;
    background: url('../img/bg-bottom.png') bottom right no-repeat;
    background-position: bottom right;
    background-attachment: fixed;
}
.container {
    min-width: 1204px !important;
    margin-top:40px;
}
.reset-margin {
    margin: 0 !important;
}
.reset-padding {
    padding: 0 !important;
}
.error{
    color:red;
    font-size: 11px;
}
.form-group label{
    font-size: 13px;
    font-weight: normal;
}

.biller-table-data-loader td:not (first-of-type){
    text-align: center;
}